In [2]:
import sys
import os
sys.path.append(os.path.abspath('..'))
import pandas as pd
from src.data_pipeline import load_news_data
df=load_news_data("../data/raw/news/economic_times.csv")
df.head()

,Archive,Date,Headline,Headline link
0,"Archives > 2022 > January > 01 Jan, 2022",01-01-2022,Assam targeting to become six lakh crore GDP s...,https://economictimes.indiatimes.com/news/indi...
1,"Archives > 2022 > January > 01 Jan, 2022",01-01-2022,In Manipur BJP will form a government on its o...,https://economictimes.indiatimes.com/news/elec...
2,"Archives > 2022 > January > 01 Jan, 2022",01-01-2022,There will be rationalization of the Armed For...,https://economictimes.indiatimes.com/news/indi...
3,"Archives > 2022 > January > 01 Jan, 2022",01-01-2022,Media companies will have to create content fo...,https://economictimes.indiatimes.com/industry/...
4,"Archives > 2022 > January > 01 Jan, 2022",01-01-2022,How we interact with sporting events might cha...,https://economictimes.indiatimes.com/news/spor...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350001 entries, 0 to 350000
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Archive        350001 non-null  object
 1   Date           350001 non-null  object
 2   Headline       350001 non-null  object
 3   Headline link  350001 non-null  object
dtypes: object(4)
memory usage: 10.7+ MB

In [4]:
df.isna().sum()

Archive          0
Date             0
Headline         0
Headline link    0
dtype: int64